/* RegisterPage.css */

.container-register {
    background-color: #eeede8; /* Fondo general */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Tamma', sans-serif;
    color: #1a1a1a;
  }
  
  .form-container {
    background-color: #509ca2; /* Fondo del formulario */
    padding: 40px;
    border-radius: 10px;
    color: #eeede8; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .heading-register {
    color: #d55b49; /* Color del título */
  }
  
  h3 {
    color: #d55b49; /* Color de los subtítulos (Datos del dueño y de la mascota) */
  }
  
  .form-check-label {
    color: #eeede8; /* Color del texto de la etiqueta de los términos */
  }
  
  .container-form{
    width: 100%;
    height: 100%;
  }

