.container-register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
}

.container-form {
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 500px; /* Limitar ancho */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.heading-register {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-decoration: underline; /* Subrayado para resaltar secciones */
}

.text-danger {
  color: #ff4d4d; /* Color de error */
}

.form-check {
  margin: 20px 0; /* Espaciado alrededor del checkbox */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: #007bff; /* Color de enfoque */
}

button {
  background-color: #007bff; /* Color del botón */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Color del botón al pasar el ratón */
}
